<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.techtown.sampletab">
    <!-- 인터넷 사용 권한 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 위치 관련 사용 권한 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- 갤러리 사용 권한 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_trip"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_trip_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MyInformation"></activity>
        <activity android:name=".KakaoSignupActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- 카카오톡 메타데이터 -->
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDesWtQhncMMGZjpF8I2mRtJMyLNYeK1z8" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".MainActivity">
        </activity>

        <activity android:name=".PopupActivity_addDiary" android:theme="@style/Theme.AppCompat.Dialog"></activity>
        <activity android:name=".What_todo" android:theme="@style/Theme.AppCompat.Dialog"></activity>

    </application>

</manifest>